@namespace p "http://primefaces.prime.com.tr/ui";

body { 
background:url('bg.jpg');
background-position:center top;
background-repeat:no-repeat;
background-attachment:scroll;

font-size: 14px;
}

#tform {
width: 500px;

margin-left: auto;
margin-right: auto;
}

#tbar {

}

#lform {
position: absolute;
top: 40px;
left: 40px;
}

#lmenu {
width: 200px;
}
