@namespace p "http://primefaces.prime.com.tr/ui";

body { 
background:url('bg.jpg');
background-position:center top;
background-repeat:no-repeat;
background-attachment:scroll;

font-size: 14px;
}

#tbar {
width: 800px;
margin-left: auto;
margin-right: auto;
}


#lform {
font-size: 18px;
position: absolute;
top: 160px;
left: 40px;

}

#lmenu {
width: 100px;
}
